@model WebApplication4.Models.WebManger

@{
    ViewBag.Title = "Edit";
}

<h2>编辑</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>网页管理者信息</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        @Html.LabelFor(model => model.Account, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Account, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Account, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" style="padding-top:0">角色权限:</label>
        <div class="col-md-10">
            @if (Model.webkind == 0)
            {
                <label>@Html.RadioButtonFor(model => model.webkind, 0, new { htmlAttributes = new { @class = "form-control", @checked = true } })普通管理员</label>
                <label>@Html.RadioButtonFor(model => model.webkind, 1, new { htmlAttributes = new { @class = "form-control" } })超级管理员</label>
            }
            else
            {
                <label>@Html.RadioButtonFor(model => model.webkind, 0, new { htmlAttributes = new { @class = "form-control" } })普通管理员</label>
                <label>@Html.RadioButtonFor(model => model.webkind, 1, new { htmlAttributes = new { @class = "form-control", @checked = true } }) 超级管理员</label>
            }

            @Html.ValidationMessageFor(model => model.webkind, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group" >
        <label class="control-label col-md-2" style="padding-top:0">权限选择:</label>
        <div class="col-md-10">
            @if (Model.modify == 1)
            {
                <input type="checkbox" name="modify" value="1" checked="checked" /><text>修改&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</text>
            }
            else
            {
                <input type="checkbox" name="modify" value="1" /><text>修改&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</text>
            }
            @if (Model.delete == 1)
            {
                <input type="checkbox" name="delete" value="1" checked="checked" /><text>删除&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</text>
            }
            else
            {
                <input type="checkbox" name="delete" value="1" /><text>删除&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</text>
            }
            @if (Model.insert == 1)
            {
                <input type="checkbox" name="insert" value="1" checked="checked" /><text>新增&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</text>
            }
            else
            {
                <input type="checkbox" name="insert" value="1" /><text>新增&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</text>
            }
            @if (Model.daochu == 1)
            {
                <input type="checkbox" name="daochu" value="1" checked="checked" /><text>导出&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</text>
            }
            else
            {
                <input type="checkbox" name="daochu" value="1" /><text>导出&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</text>
            }
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10" style="font-size:18px;padding:3px">
            <input type="submit" value="保存" class="btn btn-default" />|
            <a href="javascript:window.history.go(-1)">返回</a>
        </div>
    </div>
</div>
}

