@model WebApplication4.Models.Gastroscopy

@{
    ViewBag.Title = "Createyoumen";
}

<h2>新建</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.scannum)
    @Html.HiddenFor(model => model.Visit)
    @Html.HiddenFor(model => model.PastId)

<div class="form-horizontal">
    <h4>幽门螺杆菌检查</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @{
            Model.dt = DateTime.Now;
        }
        <label class="control-label col-md-2" style="padding-top:1px">检查时间:</label>
        <div class="col-md-10">
            @Html.TextBoxFor(Model => Model.dt, "{0:yyyy-MM-dd}", new { @type = "date", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.dt, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" style="padding-top:1px">检查号:</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Checknum, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Checknum, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" style="padding-top:1px">方法:</label>
        <div class="col-md-10">
            <textarea cols="20" htmlattributes="{ class = white-space:pre-wrap }" style="height:100px;width:400px" id="Conclusion" name="Conclusion" rows="2"></textarea>

            @Html.ValidationMessageFor(model => model.Conclusion, "", new { @class = "text-danger" })
        </div>
    </div>

    @{
        int isInfected = 2;
    }
    <div class="form-group">
        <label class="control-label col-md-2" style="padding-top:1px">结果:</label>
        <div class="col-md-10">

            <label>@Html.RadioButtonFor(model => isInfected, 0, new { htmlAttributes = new { @class = "form-control" } }) 阴性</label>
            <label>@Html.RadioButtonFor(model => isInfected, 1, new { htmlAttributes = new { @class = "form-control" } }) 阳性</label>


            @Html.ValidationMessageFor(model => isInfected, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10" style="font-size:18px;padding:3px">
            <input type="submit" value="保存" class="btn btn-default" />|
            <a href="javascript:window.history.go(-1)">返回</a>
        </div>
    </div>
</div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
