@model WebApplication4.Models.DocManger

@{
    ViewBag.Title = "Create";
}
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<h2>新建</h2>
@*<form action="/DocMangers/Create" method="post" enctype="multipart/form-data">*@
@using (Html.BeginForm("Create", "DocMangers", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>医生信息</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Sex, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Sex,
                   ViewBag.SexList as IEnumerable<SelectListItem>, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Sex, "", new { @class = "text-danger" })
        </div>
    </div>

    

    <div class="form-group">
        <label class="control-label col-md-2" style="padding-top:1px">职位:</label>
        <div class="col-md-10">

            <label>@Html.RadioButtonFor(model => model.Position, 0, new { htmlAttributes = new { @class = "form-control" } }) 住院医师</label>
            <label>@Html.RadioButtonFor(model => model.Position, 1, new { htmlAttributes = new { @class = "form-control" } }) 主治医师</label>
            <label>@Html.RadioButtonFor(model => model.Position, 2, new { htmlAttributes = new { @class = "form-control" } }) 副主任医师</label>
            <label>@Html.RadioButtonFor(model => model.Position, 3, new { htmlAttributes = new { @class = "form-control" } }) 主任医师</label>

            @Html.ValidationMessageFor(model => model.Position, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Goodat, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Goodat, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Goodat, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Introduction, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <textarea htmlattributes="{ class = white-space:pre-wrap }" style="height:150px;width:400px" id="Introduction" name="Introduction"></textarea>
            @Html.ValidationMessageFor(model => model.Introduction, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">选择图片</label>
        <div class="col-md-10">
            <input type="file" name="filename" id="filename" value="选择" />
        </div>
    </div>

    <div class="form-group">
        <div>
            <input type="text" name="Image" id="Image" value="" style="display:none" />
            @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })

        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="提交" class="btn btn-default" />

        </div>
    </div>

</div>
    @*</form>*@
    }
    

    <div style="font-size:18px;padding:3px">
        @Html.ActionLink("返回医生信息列表", "Index")
    </div>
    
    
    <script type="text/javascript" src="~/Scripts/jquery-3.3.1.js">
    
       
    </script>
