@model WebApplication4.Models.DocManger

@{
    ViewBag.Title = "Edit";
}

<h2>编辑</h2>

@using (Html.BeginForm("Edit", "DocMangers", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()


    <div class="form-horizontal">
        <h4>医生信息</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Kind)
        @Html.HiddenFor(model => model.Isnew)


        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Sex, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Sex,
                      ViewBag.SexList as IEnumerable<SelectListItem>, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Sex, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" style="padding-top:1px">职位:</label>
            <div class="col-md-10">

                <label>@Html.RadioButtonFor(model => model.Position, 0, new { htmlAttributes = new { @class = "form-control" } }) 住院医师</label>
                <label>@Html.RadioButtonFor(model => model.Position, 1, new { htmlAttributes = new { @class = "form-control" } }) 主治医师</label>
                <label>@Html.RadioButtonFor(model => model.Position, 2, new { htmlAttributes = new { @class = "form-control" } }) 副主任医师</label>
                <label>@Html.RadioButtonFor(model => model.Position, 3, new { htmlAttributes = new { @class = "form-control" } }) 主任医师</label>

                @Html.ValidationMessageFor(model => model.Position, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Goodat, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Goodat, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Goodat, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Introduction, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="col-md-10" style="padding-left:0">
                    <textarea cols="20" htmlattributes="{ class = white-space:pre-wrap }" style="height:150px;width:400px" id="Introduction" name="Introduction" rows="2">@Model.Introduction</textarea>
                    @Html.ValidationMessageFor(model => model.Introduction, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>



        <div class="form-group">
            <label class="control-label col-md-2">选择头像</label>
            <div class="col-md-10">
                @{
                    if (Model.Image == "")
                    {
                        <div>
                            <img height="100" width="100" src="http://58.192.132.31:9010/pic/plus.jpg" id="my-img1">
                            <img src="#" id="cb1" height="100" width="100" style="display:none" class="pic" />
                            <input type="file" name="filename" id="filename" style="display:none" />
                        </div>
                        <div>
                            <input type="button" id="btn1" value="移除" style="display:none" />&nbsp;&nbsp;
                            <input type="button" id="btn2" value="修改" style="display:none" />

                        </div>
                    }
                    else
                    {
                        <img height="100" width="100" src="http://58.192.132.31:9010/pic/plus.jpg" id="my-img1" style="display:none">
                        <img src="@Model.Image" id="cb1" height="100" width="100" class="pic" />
                        <input type="file" name="filename" id="filename" style="display:none" />
                        <div>
                            <input type="button" id="btn1" value="移除" />&nbsp;&nbsp;
                            <input type="button" id="btn2" value="修改" />
                        </div>
                    }
                }

            </div>
        </div>

        <div id="outerdiv" style="position:fixed;top:0;left:0;background:rgba(0,0,0,0.7);z-index:2;width:100%;height:100%;display:none;">
            <div id="innerdiv" style="position:absolute;">
                <img id="bigimg" style="border:5px solid #fff;" src="" />
            </div>
        </div>

        <div class="form-group">

            <div class="col-md-10" style="display:none">
                @Html.EditorFor(model => model.Image, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10" style="font-size:18px;padding:3px">
                <input type="submit" value="保存" class="btn btn-default" />
                <a href="javascript:window.history.go(-1)">返回</a>
            </div>
        </div>
    </div>
}   


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#my-img1').on('click', function () {
            $('#filename').click();
        });

    });

    $('#filename').on('change', function () {//当chooseImage的值改变时，执行此函数
        $("#cb1").show();
        $("#my-img1").hide();
        $("#btn1").show();
        $("#btn2").show();
        var filePath = $(this).val(), //获取到input的value，里面是文件的路径
            fileFormat = filePath.substring(filePath.lastIndexOf(".")).toLowerCase(),
            src = window.URL.createObjectURL(this.files[0]); //转成可以在本地预览的格式

        // 检查是否是图片
        if (!fileFormat.match(/.png|.jpg|.jpeg/)) {
            error_prompt_alert('上传错误,文件格式必须为：png/jpg/jpeg');
            return;
        } else {
            $('#cb1').attr('src', src);
        }
    });
    $('#btn1').on('click', function () {
        $('#cb1').attr('src', "");
        $('#cb1').hide();
        $('#btn1').hide();
        $('#btn2').hide();
        $("#my-img1").show();
    });
    $(document).ready(function () {
        $('#btn2').on('click', function () {
            $('#filename').click();
        });

    });

    $(function () {
        $(".pic").on("click", function () {
            var _this = $(this);//将当前的pimg元素作为_this传入函数
            imgShow("#outerdiv", "#innerdiv", "#bigimg", _this);
        });
    });
    function imgShow(outerdiv, innerdiv, bigimg, _this) {
        var src = _this.attr("src");//获取当前点击的pimg元素中的src属性
        $(bigimg).attr("src", src);//设置#bigimg元素的src属性
        /*获取当前点击图片的真实大小，并显示弹出层及大图*/
        $("<img/>").attr("src", src).on("load", function () {
            var windowW = $(window).width();//获取当前窗口宽度
            var windowH = $(window).height();//获取当前窗口高度
            var realWidth = this.width;//获取图片真实宽度
            var realHeight = this.height;//获取图片真实高度
            var imgWidth, imgHeight;
            var scale = 0.8;//缩放尺寸，当图片真实宽度和高度大于窗口宽度和高度时进行缩放
            if (realHeight > windowH * scale) {//判断图片高度
                imgHeight = windowH * scale;//如大于窗口高度，图片高度进行缩放
                imgWidth = imgHeight / realHeight * realWidth;//等比例缩放宽度
                if (imgWidth > windowW * scale) {//如宽度扔大于窗口宽度
                    imgWidth = windowW * scale;//再对宽度进行缩放
                }
            } else if (realWidth > windowW * scale) {//如图片高度合适，判断图片宽度
                imgWidth = windowW * scale;//如大于窗口宽度，图片宽度进行缩放
                imgHeight = imgWidth / realWidth * realHeight;//等比例缩放高度
            } else {//如果图片真实高度和宽度都符合要求，高宽不变
                imgWidth = realWidth;
                imgHeight = realHeight;
            }
            $(bigimg).css("width", imgWidth);//以最终的宽度对图片缩放
            var w = (windowW - imgWidth) / 2;//计算图片与窗口左边距
            var h = (windowH - imgHeight) / 2;//计算图片与窗口上边距
            $(innerdiv).css({ "top": h, "left": w });//设置#innerdiv的top和left属性
            $(outerdiv).fadeIn("fast");//淡入显示#outerdiv及.pimg
        });
        $(outerdiv).on("click", function () {//再次点击淡出消失弹出层
            $(this).fadeOut("fast");
        });
    }
</script>