@model IEnumerable<WebApplication4.Models.DocManger>

@{
    ViewBag.Title = "Index";
}

@{
    string wusername = Convert.ToString(@User.Identity.Name);
    string[] sArray = wusername.Split('.');

    string webusername = sArray[0];
    string webuserkind = sArray[1];

    string webmodify = sArray[2];
    string webdelete = sArray[3];
    string webinsert = sArray[4];
}
<h2>医生信息管理主页</h2>

@if (webinsert == "0")
{

}
else if (webinsert == "1")
{
    <p>
        <button type="button" class="btn btn-primary btn-lg" style="font-size: 16px" onclick="window.location.href='/DocMangers/Create'">
            <span class="glyphicon glyphicon-plus"></span>新建医生信息
        </button>

    </p>
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p style="font-size:18px;padding:3px">
        手机号: @Html.TextBox("Phone")
        姓名: @Html.TextBox("Name")
        <input type="submit" value="检索" />
    </p>
}
<table class="table" style="font-size:15px;padding:3px">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sex)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Position)
        </th>
        <th>
            单位
        </th>
        <th>
            工号
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Goodat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Introduction)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @if (item.Sex == 1)
                {
                    @:男
                }
                else
                {
                    @:女
                }
            </td>
            <td>
                @if (item.Position == 0)
                {
                    @:住院医师
                }
                else if (item.Position == 1)
                {
                    @:主治医师
                }
                else if (item.Position == 2)
                {
                    @:副主任医师
                }
                else if (item.Position == 3)
                {
                    @:主任医师
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.danwei)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gonghao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Goodat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Introduction)
            </td>


            <td>
                @if (webmodify == "0")
                {

                }
                else if (webmodify == "1")
                {
                    @Html.ActionLink("编辑", "Edit", new { id = item.Id });
                    <span>|</span>
                }

                @Html.ActionLink("查看", "Details", new { id = item.Id })

                @if (webdelete == "0")
                {

                }
                else if (webdelete == "1")
                {
                    <span>|</span>
                    @Html.ActionLink("删除", "Delete", new { id = item.Id });

                }
            </td>
        </tr>
    }

</table>
@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))