@model WebApplication4.Models.qiye

@{
    ViewBag.Title = "Details";
}

<h2>查看详情</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal" style="font-size:18px;padding:3px">
        <dt>
            岗位名称
        </dt>
        <dd>
            常州县公司-计算机/云计算/人工智能相关专业岗位
        </dd>
        <dt>
            发布公司
        </dt>
        <dd>
            中国移动
        </dd>

        <dt>
            学历要求
        </dt>

        <dd>
            硕士
        </dd>
        <dt>
            招聘人数
        </dt>

        <dd>
            若干
        </dd>
       
        <dt>
            性别
        </dt>

        <dd>
            不限
        </dd>
        <dt>
            发布时间
        </dt>

        <dd>
            @{
                string b = DateTime.Now.ToString("yyyy-MM-dd");
            }
            @b
        </dd>
        <dt>
            薪资
        </dt>

        <dd>
           面议
        </dd>
   
        <dt>
            工作地点
        </dt>

        <dd>
            常州
        </dd>

        <dt>
            具体内容
        </dt>

        <dd>
            1、计算机科学与技术、信息工程、计算机网络、信息与计算科学、软件工程、计算机应用、云计算、人工智能、自动化、计算机设计等相关专业；
            2、爱好钻研计算机技术，熟悉互联网知识，有较强的学习能力；
            3、有较好的口头表达能力、较强的分析判断能力；
            4、较强的沟通能力和执行力，良好的团队合作意识。
        </dd>
       
        <dt>
            专业要求
        </dt>

        <dd>
            计算机科学与技术、信息工程、计算机网络、信息与计算科学、软件工程、计算机应用、云计算、人工智能、自动化、计算机设计等相关专业
        </dd>
        <dt>
            岗位标签1
        </dt>

        <dd>
            云计算
        </dd>

        <dt>
            岗位标签2
        </dt>

        <dd>
            人工智能
        </dd>
        <dt>
            岗位标签3
        </dt>

        <dd>
            能力
        </dd>

        <dt>
            岗位标签4
        </dt>

        <dd>
            信息工程
        </dd>
    </dl>
</div>
<div style="font-size:18px;padding:3px">
    <p>
       
            @Html.ActionLink("返回列表", "Index")
       

    </p>
</div>
<h2>推荐列表</h2>
<div>
    <table class="table" style="font-size:15px;padding:3px">
        <tr>
            <th>
                程序员姓名
            </th>
            <th>
                擅长
            </th>
            <th>
                擅长
            </th>
            <th>
                擅长
            </th>
            <th>
                擅长
            </th>

            <th>
                匹配度
            </th>
            <th>
                开发能力等级
            </th>
            
            <th></th>
        </tr>

        <tr>

            <td>
                torvalds
            </td>
            <td>
                c
            </td>
            <td>
                c++
            </td>

            <td>
                Linux
            </td>
            <td></td>
            <td>
                0
            </td>
            <td>
                0
            </td>
            

            <td>
                @{
                    int a = 1;
                }
                @Html.ActionLink("查看详情", "Details1", new { id = a })
                <span>|</span>
                @Html.ActionLink("收藏", "Edit", new { id = a })
                <span>|</span>
                @Html.ActionLink("发邮件", "Edit", new { id = a })
            </td>
        </tr>
        <tr>

            <td>
                JakeWharton
            </td>
            <td>
                Java
            </td>
            <td>
                Kotlin
            </td>
            <td>
                HTML
            </td>

            <td>
                Shell
            </td>
            <td>
                0
            </td>
            <td>
                0
            </td>
            


            <td>

                @Html.ActionLink("查看详情", "Details1", new { id = a })
                <span>|</span>
                @Html.ActionLink("收藏", "Edit", new { id = a })
                <span>|</span>
                @Html.ActionLink("发邮件", "Edit", new { id = a })
            </td>
        </tr>
        <tr>

            <td>
                ruanyf
            </td>
            <td>
                JavaScript
            </td>

            <td>
                Shell
            </td>
            <td>
                CSS
            </td>
            <td>
                HTML
            </td>
            <td>
                0
            </td>
            <td>
                0
            </td>
            



            <td>

                @Html.ActionLink("查看详情", "Details1", new { id = a })
                <span>|</span>
                @Html.ActionLink("收藏", "Edit", new { id = a })
                <span>|</span>
                @Html.ActionLink("发邮件", "Edit", new { id = a })
            </td>
        </tr>
        <tr>

            <td>
                yyx990803
            </td>
            <td>
                JavaScript
            </td>
            <td>
                Shell
            </td>
            <td>
                HTML
            </td>

            <td>
                PHP
            </td>
            <td>
                0
            </td>
            <td>
                0
            </td>
            

            <td>

                @Html.ActionLink("查看详情", "Details1", new { id = a })
                <span>|</span>
                @Html.ActionLink("收藏", "Edit", new { id = a })
                <span>|</span>
                @Html.ActionLink("发邮件", "Edit", new { id = a })
            </td>
        </tr>
    </table>
</div>
