@model WebApplication4.Models.Visit


@{
    ViewBag.Title = "Details";
}

@using System.Data;
@using System;

@{
    string wusername = Convert.ToString(@User.Identity.Name);
    string[] sArray = wusername.Split('.');

    string webusername = sArray[0];
    string webuserkind = sArray[1];

    string webmodify = sArray[2];
    string webdelete = sArray[3];
    string webinsert = sArray[4];
}

<h2>查看就诊详情</h2>

<div>

    <hr style="border:#000000 1px solid;" />
    @{
        if (Model.detailid == 1)
        {
            <h3>
                病人基本信息&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                @*<a style="font-size:18px" href="/Visits/returnvisitCreate?id=@Model.Id&&checkid=@Model.Id&&refid=@Model.Id">复诊编辑</a>*@
            </h3>
        }
        else
        {
            <h3>
                病人基本信息&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                @*<a style="font-size:18px" href="/Visits/returnvisitCreate?id=@Model.Id&&checkid=@Model.Id&&refid=@Model.Id">复诊新增</a>*@
            </h3>
        }
    }

    <div style="overflow-y:auto; overflow-x:auto;font-size:18px;padding:3px">

        <div class="col-md-5">
            <div>
                @Html.DisplayNameFor(model => model.Name):
                @Html.DisplayFor(model => model.Name)
            </div>
            <div>
                @Html.DisplayNameFor(model => model.scannum):
                @Html.DisplayFor(model => model.scannum)
            </div>

        </div>

        <div class="col-md-5">
            <div>
                @Html.DisplayNameFor(model => model.Date):
                @Html.DisplayFor(model => model.Date)
            </div>
            <div>
                @Html.DisplayNameFor(model => model.VisitId):
                @Html.DisplayFor(model => model.VisitId)
            </div>
        </div>

        <div class="col-md-2">

        </div>
    </div>
</div>
<hr style="border:#000000 1px solid;" />

<div>
    <h3>
        @if (webinsert == "0")
        {
            <span>检查信息&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        }
        else if (webinsert == "1")
        {
            <span>检查信息&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <a style="font-size:18px" href="/Gastroscopies/Create?id=@Model.Id&&scannum=@Model.scannum&&visit=@Model.VisitId&&refid=@Model.Id">胃镜检查新增</a>
            <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <a style="font-size:18px" href="/Gastroscopies/Createnianmo?id=@Model.Id&&scannum=@Model.scannum&&visit=@Model.VisitId&&refid=@Model.Id">胃黏膜血清检查新增</a>
            <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <a style="font-size:18px" href="/Gastroscopies/Createyoumen?id=@Model.Id&&scannum=@Model.scannum&&visit=@Model.VisitId&&refid=@Model.Id">幽门螺杆菌检查新增</a>
            <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <a style="font-size:18px" href="/Gastroscopies/CreateOther?id=@Model.Id&&scannum=@Model.scannum&&visit=@Model.VisitId&&refid=@Model.Id">其他检查新增</a>
        }

    </h3>

    <div>
        <table class="table" style="font-size:18px;padding:3px">
            <tr>
                <th style="border-top:0px solid #ff4136;width:30%">
                    检查时间
                </th>
                <th style="border-top:0px solid #ff4136;width:30%">
                    检查项目
                </th>
                <th style="border-top:0px solid #ff4136;width:40%">

                </th>
            </tr>
            @foreach (DataRow item in Model.dt.Rows)
            {
                <tr>
                    <td style="border:#ffffff 0px solid;">
                        @{
                            DateTime a = Convert.ToDateTime(item[1]);

                            string b = "";

                            b = a.ToString("yyyy-MM-dd");
                        }
                        @b
                    </td>
                    <td style="border:#ffffff 0px solid;">

                        @{
                            string e = item[2].ToString();
                            int isfollowup = Convert.ToInt32(item[3]);
                            string ee = "(需要复查)";
                            if (isfollowup == 1)
                            {
                                @e
                                @ee
                            }
                            else
                            {
                                @e
                            }
                        }

                    </td>
                    <td style="border:#ffffff 0px solid;">
                        @{

                            string c = item[0].ToString();
                            int d = Convert.ToInt32(c);
                            int detailid = Model.Id;
                            if (e == "胃镜检查")
                            {
                                if (webmodify == "0")
                                {

                                }
                                else if (webmodify == "1")
                                {
                                    <a href="/Gastroscopies/Edit/?id=@d&detailid=@detailid&rawid=@Model.Id">编辑 </a> <text>|</text>
                                }

                                <a href="/Visits/CheckDetails/@d?checkname=@e&refid=@d&detailid=@detailid">查看详情 </a>
                                if (webdelete == "0")
                                {

                                }
                                else if (webdelete == "1")
                                {
                                    <text>|</text>
                                    <a href="/Gastroscopies/Delete/?id=@d&&refid=@Model.Id">删除</a>
                                }

                            }
                            else if (e == "幽门螺杆菌检查")
                            {
                                if (webmodify == "0")
                                {

                                }
                                else if (webmodify == "1")
                                {
                                    <a href="/Gastroscopies/Edityoumen/?id=@d&detailid=@detailid&rawid=@Model.Id">编辑 </a> <text>|</text>
                                }

                                <a href="/Visits/CheckDetails/@d?checkname=@e&refid=@d&detailid=@detailid">查看详情 </a>
                                if (webdelete == "0")
                                {

                                }
                                else if (webdelete == "1")
                                {
                                    <text>|</text>
                                <a href="/Gastroscopies/Delete/?id=@d&&refid=@Model.Id">删除</a>
                                }
                            }
                            else if (e == "胃黏膜血清检查")
                            {
                                if (webmodify == "0")
                                {

                                }
                                else if (webmodify == "1")
                                {
                                    <a href="/Gastroscopies/Editweinianmo/?id=@d&detailid=@detailid&rawid=@Model.Id">编辑 </a> <text>|</text>
                                }

                                <a href="/Visits/CheckDetails/@d?checkname=@e&refid=@d&detailid=@detailid">查看详情 </a>
                                if (webdelete == "0")
                                {

                                }
                                else if (webdelete == "1")
                                {
                                    <text>|</text>
                                <a href="/Gastroscopies/Delete/?id=@d&&refid=@Model.Id">删除</a>
                                }
                            }

                            else
                            {
                                if (webmodify == "0")
                                {

                                }
                                else if (webmodify == "1")
                                {
                                    <a href="/Gastroscopies/EditOther/?id=@d&detailid=@detailid&rawid=@Model.Id"> 编辑 </a> <text >|</text>
                                }

                                <a href="/Visits/CheckDetails/@d?checkname=@e&refid=@d&detailid=@detailid"> 查看详情 </a>

                                if (webdelete == "0")
                                {

                                }
                                else if (webdelete == "1")
                                {
                                    <text>|</text>
                                <a href="/Gastroscopies/Delete/?id=@d&&refid=@Model.Id">删除</a>
                                }


                            }
                        }


                    </td>
                </tr>
            }
        </table>
    </div>
    <hr style="border:#000000 1px solid;" />
</div>

<div>


    <h3 style="margin-top:0">

        @if (webinsert == "0")
        {
            <span>治疗方案&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        }
        else if (webinsert == "1")
        {
            <span>治疗方案&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <a style="font-size:18px" href="/Treatments/Create?id=@Model.Id&&scannum=@Model.scannum&&visit=@Model.VisitId&&refid=@Model.Id&&name=0">幽门螺杆菌新增</a>
            <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <a style="font-size:18px" href="/Treatments/Create?id=@Model.Id&&scannum=@Model.scannum&&visit=@Model.VisitId&&refid=@Model.Id&&name=2">手术治疗新增</a>
            <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <a style="font-size:18px" href="/Treatments/Create?id=@Model.Id&&scannum=@Model.scannum&&visit=@Model.VisitId&&refid=@Model.Id&&name=1">其他治疗新增</a>
        }


    </h3>

    <div>
        <table class="table" style="font-size:18px;padding:3px">
            <tr>
                <th style="border-top:0px solid #ff4136;width:30%">
                    治疗时间
                </th>
                <th style="border-top:0px solid #ff4136;width:30%">
                    治疗项目
                </th>
                <th style="border-top:0px solid #ff4136;width:40%">

                </th>
            </tr>
            @foreach (DataRow item in Model.getTreatment.Rows)
            {
                <tr>
                    <td style="border:#ffffff 0px solid;">
                        @{
                            DateTime a = Convert.ToDateTime(item[1]);

                            string b = "";

                            b = a.ToString("yyyy-MM-dd");
                        }
                        @b
                    </td>
                    <td style="border:#ffffff 0px solid;">
                        @{
                            int isfollowup = Convert.ToInt32(item[4]);
                            string c = item[2].ToString();
                            int genchu = 2;
                            if (item[3] == DBNull.Value)
                            {

                            }
                            else
                            {
                                genchu = Convert.ToInt32(item[3]);
                            }
                        }
                        @if (c == "1")
                        {
                            if (isfollowup == 0)
                            {
                                @:其他治疗
                            }
                            else
                            {
                                @:其他治疗(需要复查)
                            }

                        }
                        else if (c == "0" && genchu == 1)
                        {
                            if (isfollowup == 0)
                            {
                                @:幽门螺杆菌治疗
                            }
                            else
                            {
                                @:幽门螺杆菌治疗(需要复查)
                            }

                        }
                        else if (c == "0" && genchu == 0)
                        {
                            if (isfollowup == 0)
                            {
                                @:幽门螺杆菌治疗(未根除)
                            }
                            else
                            {
                                @:幽门螺杆菌治疗(未根除)(需要复查)
                            }

                        }
                        else if (c == "2")
                        {
                            if (isfollowup == 0)
                            {
                                @:手术治疗
                            }
                            else
                            {
                                @:手术治疗(需要复查)
                            }

                        }
                    </td>
                    <td style="border:#ffffff 0px solid;">


                        @{
                            string d = item[0].ToString();
                            int e = Convert.ToInt32(d);

                            

                            if (webmodify == "0")
                            {

                            }
                            else if (webmodify == "1")
                            {
                                <a href="/Treatments/Edit/?id=@e&refid=@Model.Id">编辑 </a> <text>|</text>
                            }

                            <a href="/Visits/TreatmentDetails/@e">查看详情 </a>

                            if (webdelete == "0")
                            {

                            }
                            else if (webdelete == "1")
                            {
                                <text>|</text>
                            <a href="/Treatments/Delete/?id=@e&refid=@Model.Id">删除</a>
                            }

                        }


                    </td>
                </tr>
            }
        </table>
    </div>
    <hr style="border:#000000 1px solid;" />
</div>

<div>
    
    <h3 style="margin-top:0">
        
            <span>随访复查&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
       

    </h3>
    <div style="font-size:18px;padding:3px">
        
          
            @foreach (DataRow item in Model.followup.Rows)
            {
            
                    <div>
                        @{
                            int weijing_check = Convert.ToInt32(item[3]);
                            string b = "";
                            string weijing_check_time = "";
                            if (weijing_check == 1)
                            {
                                DateTime a = Convert.ToDateTime(item[4]);
                                weijing_check_time = a.ToString("yyyy-MM-dd");
                                b = "胃镜检查" + "(" + weijing_check_time + ") ";
                            }

                        }
                        @b
                    </div>
                    <div>
                        @{
                            int weinianmo_check = Convert.ToInt32(item[5]);
                            string c = "";
                            string weinianmo_check_time = "";
                            if (weinianmo_check == 1)
                            {
                                DateTime d = Convert.ToDateTime(item[6]);
                                weinianmo_check_time = d.ToString("yyyy-MM-dd");
                                c = "胃粘膜血清检查" + "(" + weinianmo_check_time + ") ";
                            }
                        }
                        @c
                    </div>
                    <div>
                        @{
                            int youmen_check = Convert.ToInt32(item[7]);
                            string e = "";
                            string youmen_check_time = "";
                            if (youmen_check == 1)
                            {
                                DateTime f = Convert.ToDateTime(item[8]);
                                youmen_check_time = f.ToString("yyyy-MM-dd");
                                e = "幽门螺杆菌检查" + "(" + weijing_check_time + ") ";
                            }
                        }
                        @e
                    </div>
                    <div>
                        @{
                            int other_check = Convert.ToInt32(item[9]);
                            string g = "";
                            string other_check_time = "";
                            if (other_check == 1)
                            {
                                DateTime h = Convert.ToDateTime(item[10]);
                                other_check_time = h.ToString("yyyy-MM-dd");
                                g = "其他检查" + "(" + other_check_time + ") ";
                            }
                        }
                        @g
                    </div>
                    <div>
                        @{
                            int youmen_treat = Convert.ToInt32(item[11]);
                            string i = "";
                            string youmen_treat_time = "";
                            if (youmen_treat == 1)
                            {
                                DateTime j = Convert.ToDateTime(item[12]);
                                youmen_treat_time = j.ToString("yyyy-MM-dd");
                                i = "幽门螺杆菌治疗" + "(" + youmen_treat_time + ") ";
                            }
                        }
                        @i
                    </div>
                    <div>
                        @{
                            int operater_treat = Convert.ToInt32(item[13]);
                            string k = "";
                            string operater_treat_time = "";
                            if (operater_treat == 1)
                            {
                                DateTime l = Convert.ToDateTime(item[14]);
                                operater_treat_time = l.ToString("yyyy-MM-dd");
                                k = "手术治疗" + "(" + operater_treat_time + ") ";
                            }
                        }
                        @k
                    </div>
                    <div>
                        @{
                            int other_treat = Convert.ToInt32(item[15]);
                            string m = "";
                            string other_treat_time = "";
                            if (other_treat == 1)
                            {
                                DateTime n = Convert.ToDateTime(item[16]);
                                other_treat_time = n.ToString("yyyy-MM-dd");
                                m = "其他治疗" + "(" + other_treat_time + ") ";
                            }
                        }
                        @m
                    </div>
                 
            }
       
    </div>
    <hr style="border:#000000 1px solid;" />
</div>

<div>
    <p style="font-size:18px;padding:3px">
        <a href="javascript:window.history.go(-1)">返回</a>
    </p>
</div>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
