@model IEnumerable<WebApplication4.Models.putong>

@{
    ViewBag.Title = "Index";
}

<h2>企业管理列表</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<p style="font-size:15px;padding:3px">
    
        企业名称: @Html.TextBox("scannum")
        企业状态: @Html.TextBox("scannum")
        邮箱权限: @Html.TextBox("scannum")
        发布权限: @Html.TextBox("scannum")
    
    <input  type="submit" value="检索" />
</p>
}

    <table class="table" style="font-size:15px;padding:3px">
        <tr>
            <th>
                企业名称
            </th>
            <th>
                企业状态
            </th>
            <th>
                邮箱权限
            </th>
            <th>
                发布权限
            </th>



            <th></th>
        </tr>

        <tr>
            <td>
                中国移动通信集团有限公司
            </td>

            <td>
               0
            </td>
            <td>
                1
            </td>
            <td>
                1
            </td>


            <td>
                @{
                    int a = 1;
                }
                @Html.ActionLink("编辑", "Edit", new { id = a })

            </td>
        </tr>
        <tr>

            <td>
                中国电信集团有限公司
            </td>
            <td>
                1
            </td>
            <td>
                0
            </td>
            <td>
                0
            </td>




            <td>

                @Html.ActionLink("编辑", "Edit", new { id = 1 })

            </td>
        </tr>
        <tr>
            <td>
                百度
            </td>
            <td>
                1
            </td>
            <td>
                0
            </td>
            <td>
                1
            </td>




            <td>

                @Html.ActionLink("编辑", "Edit", new { id = 1 })

            </td>
        </tr>
        <tr>
            <td>
                腾讯
            </td>
            <td>
                1
            </td>
            <td>
                1
            </td>
            <td>
                0
            </td>


            <td>

                @Html.ActionLink("编辑", "Edit", new { id = 1 })

            </td>
        </tr>
        <tr>
            <td>
                阿里巴巴
            </td>
            <td>
                0
            </td>
            <td>
                1
            </td>
            <td>
                1
            </td>


            <td>

                @Html.ActionLink("编辑", "Edit", new { id = 1 })

            </td>
        </tr>
        <tr>
            <td>
                京东
            </td>
            <td>
                1
            </td>
            <td>
                0
            </td>
            <td>
                1
            </td>


            <td>

                @Html.ActionLink("编辑", "Edit", new { id = 1 })

            </td>
        </tr>
        <tr>
            <td>
                北京字节跳动科技有限公司
            </td>
            <td>
               0
            </td>
            <td>
                1
            </td>
            <td>
                0
            </td>


            <td>

                @Html.ActionLink("编辑", "Edit", new { id = 1 })

            </td>
        </tr>
        <tr>
            <td>
                迅雷
            </td>
            <td>
                1
            </td>
            <td>
                1
            </td>
            <td>
                1
            </td>


            <td>

                @Html.ActionLink("编辑", "Edit", new { id = 1 })

            </td>
        </tr>
        <tr>
            <td>
                北京奇虎科技有限公司
            </td>
            <td>
                0
            </td>
            <td>
                0
            </td>
            <td>
                0
            </td>


            <td>

                @Html.ActionLink("编辑", "Edit", new { id = 1 })

            </td>
        </tr>
    </table>
