@model WebApplication4.Models.ReturnVisit

@{
    ViewBag.Title = "Details";
}

<h2>查看</h2>

<div>
    <h4>详情</h4>
    <hr />
    <dl class="dl-horizontal" style="font-size:18px;padding:3px">
        <dt>
            姓名:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            检查号:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.scannum)
        </dd>

        <dt>
            身份证号:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Identinum)
        </dd>

        <dt>
            就诊:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VisitId)
        </dd>

        @{
            if (Model.weijing_check == 1)
            {
                <dt>
                    胃镜检查:
                </dt>
                <dd>
                    有(检查时间:@Model.weijing_check_time.ToString("yyyy-MM-dd"))
                </dd>
                
            }
            else
            {
                <dt>
                    胃镜检查:
                </dt>
                <dd>
                    无
                </dd>
            }
        }
        @{
            if (Model.weinianmo_check == 1)
            {
                <dt>
                    胃黏膜血清检查:
                </dt>
                <dd>
                    有(检查时间:@Model.weinianmo_check_time.ToString("yyyy-MM-dd"))
                </dd>
              
            }
            else
            {
                <dt>
                    胃黏膜血清检查:
                </dt>
                <dd>
                    无
                </dd>
            }
        }
        @{
            if (Model.youmen_check == 1)
            {
                <dt>
                    幽门螺杆菌检查:
                </dt>
                <dd>
                    有(检查时间:@Model.youmen_check_time.ToString("yyyy-MM-dd"))
                </dd>
              
            }
            else
            {
                <dt>
                    幽门螺杆菌检查:
                </dt>
                <dd>
                    无
                </dd>
            }
        }
        @{
            if (Model.other_check == 1)
            {
                <dt>
                    其他检查:
                </dt>
                <dd>
                    有(检查时间:@Model.other_check_time.ToString("yyyy-MM-dd"))
                </dd>
               
            }
            else
            {
                <dt>
                    其他检查:
                </dt>
                <dd>
                    无
                </dd>
            }
        }
        @{
            if (Model.youmen_treat == 1)
            {
                <dt>
                    幽门螺杆菌治疗:
                </dt>
                <dd>
                    有(治疗时间:@Model.youmen_treat_time.ToString("yyyy-MM-dd"))
                </dd>
              
            }
            else
            {
                <dt>
                    幽门螺杆菌治疗:
                </dt>
                <dd>
                    无
                </dd>
            }
        }

        @{
            if (Model.operater_treat == 1)
            {
                <dt>
                    手术治疗:
                </dt>
                <dd>
                    有(治疗时间:@Model.operater_treat_time.ToString("yyyy-MM-dd"))
                </dd>
              
            }
            else
            {
                <dt>
                    手术治疗:
                </dt>
                <dd>
                    无
                </dd>
            }
        }

        @{
            if (Model.other_treat == 1)
            {
                <dt>
                    其他治疗:
                </dt>
                <dd>
                    有(治疗时间:@Model.other_treat_time.ToString("yyyy-MM-dd"))
                </dd>
              
            }
            else
            {
                <dt>
                    其他治疗:
                </dt>
                <dd>
                    无
                </dd>
            }
        }
    </dl>
</div>
<p style="font-size:18px;padding:3px">
    @Html.ActionLink("返回", "Index")
</p>
