@model WebApplication4.Models.Surveys

@{
    ViewBag.Title = "familyhistoryEdit";
}

@using System.Data;
@using System;
<h2>编辑</h2>
<h4>D 家族史</h4>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.num)
    @Html.HiddenFor(model => model.phone)
    @Html.HiddenFor(model => model.name)
    @Html.HiddenFor(model => model.checkid)
    @Html.HiddenFor(model => model.dt1)
    @Html.HiddenFor(model => model.dt2)
    @Html.HiddenFor(model => model.dt3)
    @Html.HiddenFor(model => model.dt4)
    @Html.HiddenFor(model => model.dt5)
    @Html.HiddenFor(model => model.dt6)
    @Html.HiddenFor(model => model.dt7)
    @Html.HiddenFor(model => model.dt8)
    @Html.HiddenFor(model => model.dt9)

    <div>
        <hr style="border:#000000 1px solid;" />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div style="overflow-y:auto; overflow-x:auto;">
            @foreach (DataRow item in Model.dt4.Rows)
            {

                <div class="form-group" style="font-size:18px;padding:3px;overflow-y:auto; overflow-x:auto;margin-bottom:0">
                    <label class="control-label col-md-10" style="padding-top:1px;padding-left:0"> 您的家庭成员，请填写下表:(说明:不包括领养的兄弟姐妹、领养的子女以及同父异母或同母异父的兄弟姐妹。)</label>
                    <div class="col-md-2">
                        &nbsp;
                    </div>
                </div>

                int numofsons = Convert.ToInt32(item[2]);

                <div class="form-group" style="font-size:18px;padding:3px;">
                    <label class="control-label col-md-4" style="padding-top:1px;padding-left:0">D1&nbsp;&nbsp;&nbsp;&nbsp;一共有几个儿子(个):</label>
                    <div class="col-md-8" style="margin-bottom:8px">
                        <input class="form-control text-box single-line" data-val="true" id="numofsons" name="numofsons" type="text" value="@numofsons">
                    </div>
                </div>

                int numofdaughters = Convert.ToInt32(item[3]);
                <div class="form-group" style="font-size:18px;padding:3px;">
                    <label class="control-label col-md-4" style="padding-top:1px;padding-left:0">D2&nbsp;&nbsp;&nbsp;&nbsp;一共有几个女儿(个):</label>
                    <div class="col-md-8" style="margin-bottom:8px">
                        <input class="form-control text-box single-line" data-val="true" id="numofdaughters" name="numofdaughters" type="text" value="@numofdaughters">
                    </div>
                </div>

                int numofbros = Convert.ToInt32(item[4]);
                <div class="form-group" style="font-size:18px;padding:3px;">
                    <label class="control-label col-md-4" style="padding-top:1px;padding-left:0">D3&nbsp;&nbsp;&nbsp;&nbsp;一共有几个兄弟(不包括本人)(个):</label>
                    <div class="col-md-8" style="margin-bottom:8px">
                        <input class="form-control text-box single-line" data-val="true" id="numofbros" name="numofbros" type="text" value="@numofbros">
                    </div>
                </div>

                int numofsisters = Convert.ToInt32(item[5]);
                <div class="form-group" style="font-size:18px;padding:3px;">
                    <label class="control-label col-md-4" style="padding-top:1px;padding-left:0">D4&nbsp;&nbsp;&nbsp;&nbsp;一共有几个姐妹(不包括本人)(个):</label>
                    <div class="col-md-8">
                        <input class="form-control text-box single-line" data-val="true" id="numofsisters" name="numofsisters" type="text" value="@numofsisters">
                    </div>
                </div>


                int hasTumor = Convert.ToInt32(item[6]);

                <div class="form-group" style="font-size:18px;padding:3px;overflow-y:auto; overflow-x:auto;margin-bottom:0">
                    <label class="control-label col-md-7" style="padding-top:1px;padding-left:0">D5&nbsp;&nbsp;&nbsp;&nbsp;亲属中，有没有人曾经被医生诊断过患有消化道肿瘤或者其它肿瘤:</label>
                    <div class="col-md-5">

                        <label>@Html.RadioButtonFor(model => hasTumor, 0, new { htmlAttributes = new { @class = "form-control" }, onclick = "check6(0)" }) 无</label>

                        <label>@Html.RadioButtonFor(model => hasTumor, 1, new { htmlAttributes = new { @class = "form-control" }, onclick = "check6(1)" }) 有</label>

                    </div>
                </div>


            }

            <div id="zhongliu" >
                <div class="form-group" style="font-size:18px;padding:3px;overflow-y:auto; overflow-x:auto;margin-bottom:0">
                    <label class="control-label col-md-10" style="padding-top:1px;padding-left:0"> 若有，请为各患病亲属填入疾病名称。注：其它肿瘤填肿瘤名称(无肿瘤填“无”，不清楚或不详填“不详”)</label>
                    <div class="col-md-2">
                        &nbsp;
                    </div>
                </div>

                <table class="table" style="font-size:18px;padding:3px">
                    <tr>
                        <th>
                            亲属关系
                        </th>

                        <th>
                            性别
                        </th>
                        <th>
                            消化道肿瘤
                        </th>
                        <th>
                            其他肿瘤
                        </th>


                    </tr>

                    <tr>
                        <td>
                            范例:某亲属
                        </td>

                        <td>
                            女
                        </td>
                        <td>
                            有
                        </td>
                        <td>
                            无
                        </td>

                    </tr>

                    <tr>
                        <td>
                            <label>一级亲属</label>
                        </td>

                        <td>
                            @{
                                int flag1 = 0;
                                int flag2 = 0;
                                foreach (DataRow item in Model.D51.Rows)
                                {
                                    if (Convert.ToInt32(item[5]) == 0 && @Convert.ToString(item[6]) == "")
                                    {
                                        flag1 = 0;
                                    }
                                    else
                                    {
                                        flag1 = 1;

                                    }
                                }
                                foreach (DataRow item in Model.D52.Rows)
                                {
                                    if (Convert.ToInt32(item[5]) == 0 && @Convert.ToString(item[6]) == "")
                                    {
                                        flag2 = 0;
                                    }
                                    else
                                    {
                                        flag2 = 1;

                                    }
                                }
                                if (flag1 == 1 || flag2 == 1)
                                {
                                    <div>
                                        <input type="button" value="添加父母" class="btn btn-info" id="fumu" style="display:none"/>
                                        <input type="button" value="添加父母" class="btn btn-info" id="fumu1"  />
                                    </div>
                                }
                                else
                                {
                                    <div>
                                        <input type="button" value="添加父母" class="btn btn-info" id="fumu" />
                                        <input type="button" value="添加父母" class="btn btn-info" id="fumu1" style="display:none" />
                                    </div>
                                }
                            }


                        </td>
                        <td>
                            @{
                                int flag3 = 0;
                                int flag4 = 0;
                                int flag5 = 0;
                                int flag6 = 0;
                                foreach (DataRow item in Model.D531.Rows)
                                {

                                    if (Convert.ToInt32(item[5]) == 0 && @Convert.ToString(item[6]) == "")
                                    {

                                        flag3 = 0;
                                    }
                                    else
                                    {
                                        flag3 = 1;
                                    }
                                }

                                foreach (DataRow item in Model.D532.Rows)
                                {

                                    if (Convert.ToInt32(item[5]) == 0 && @Convert.ToString(item[6]) == "")
                                    {

                                        flag4 = 0;
                                    }
                                    else
                                    {
                                        flag4 = 1;
                                    }
                                }

                                foreach (DataRow item in Model.D533.Rows)
                                {

                                    if (Convert.ToInt32(item[5]) == 0 && @Convert.ToString(item[6]) == "")
                                    {

                                        flag5 = 0;
                                    }
                                    else
                                    {
                                        flag5 = 1;
                                    }
                                }

                                foreach (DataRow item in Model.D534.Rows)
                                {

                                    if (Convert.ToInt32(item[5]) == 0 && @Convert.ToString(item[6]) == "")
                                    {

                                        flag6 = 0;
                                    }
                                    else
                                    {
                                        flag6 = 1;
                                    }
                                }

                                if (flag3 == 0)
                                {
                                    <div>
                                        <input type="button" value="添加同胞" class="btn btn-info" id="tongbao" />
                                        <input type="button" value="添加同胞" class="btn btn-info" id="tongbao1" style="display:none" />
                                        <input type="button" value="添加同胞" class="btn btn-info" id="tongbao2" style="display:none" />
                                        <input type="button" value="添加同胞" class="btn btn-info" id="tongbao3" style="display:none" />
                                        <input type="button" value="添加同胞" class="btn btn-info" id="tongbao4" style="display:none" />
                                    </div>
                                }
                                else if (flag3 == 1 && flag4 == 0)
                                {
                                    <div>
                                        <input type="button" value="添加同胞" class="btn btn-info" id="tongbao" style="display:none" />
                                        <input type="button" value="添加同胞" class="btn btn-info" id="tongbao1" />
                                        <input type="button" value="添加同胞" class="btn btn-info" id="tongbao2" style="display:none" />
                                        <input type="button" value="添加同胞" class="btn btn-info" id="tongbao3" style="display:none" />
                                        <input type="button" value="添加同胞" class="btn btn-info" id="tongbao4" style="display:none" />
                                    </div>
                                }
                                else if (flag4 == 1 && flag5 == 0)
                                {
                                    <div>
                                        <input type="button" value="添加同胞" class="btn btn-info" id="tongbao" style="display:none" />
                                        <input type="button" value="添加同胞" class="btn btn-info" id="tongbao1" style="display:none" />
                                        <input type="button" value="添加同胞" class="btn btn-info" id="tongbao2" />
                                        <input type="button" value="添加同胞" class="btn btn-info" id="tongbao3" style="display:none" />
                                        <input type="button" value="添加同胞" class="btn btn-info" id="tongbao4" style="display:none" />
                                    </div>
                                }
                                else if (flag5 == 1 && flag6 == 0)
                                {
                                    <div>
                                        <input type="button" value="添加同胞" class="btn btn-info" id="tongbao" style="display:none" />
                                        <input type="button" value="添加同胞" class="btn btn-info" id="tongbao1" style="display:none" />
                                        <input type="button" value="添加同胞" class="btn btn-info" id="tongbao2" style="display:none" />
                                        <input type="button" value="添加同胞" class="btn btn-info" id="tongbao3" />
                                        <input type="button" value="添加同胞" class="btn btn-info" id="tongbao4" style="display:none" />
                                    </div>
                                }
                                else if (flag6 == 1)
                                {
                                    <div>
                                        <input type="button" value="添加同胞" class="btn btn-info" id="tongbao" style="display:none" />
                                        <input type="button" value="添加同胞" class="btn btn-info" id="tongbao1" style="display:none" />
                                        <input type="button" value="添加同胞" class="btn btn-info" id="tongbao2" style="display:none" />
                                        <input type="button" value="添加同胞" class="btn btn-info" id="tongbao3" style="display:none"/>
                                        <input type="button" value="添加同胞" class="btn btn-info" id="tongbao4"  />
                                    </div>

                                }
                            }

                        </td>
                        <td>

                            @{
                                int flag7 = 0;
                                int flag8 = 0;
                                int flag9 = 0;
                                int flag10 = 0;
                                foreach (DataRow item in Model.D541.Rows)
                                {

                                    if (Convert.ToInt32(item[5]) == 0 && @Convert.ToString(item[6]) == "")
                                    {

                                        flag7 = 0;
                                    }
                                    else
                                    {
                                        flag7 = 1;
                                    }
                                }

                                foreach (DataRow item in Model.D542.Rows)
                                {

                                    if (Convert.ToInt32(item[5]) == 0 && @Convert.ToString(item[6]) == "")
                                    {

                                        flag8 = 0;
                                    }
                                    else
                                    {
                                        flag8 = 1;
                                    }
                                }

                                foreach (DataRow item in Model.D543.Rows)
                                {

                                    if (Convert.ToInt32(item[5]) == 0 && @Convert.ToString(item[6]) == "")
                                    {

                                        flag9 = 0;
                                    }
                                    else
                                    {
                                        flag9 = 1;
                                    }
                                }

                                foreach (DataRow item in Model.D544.Rows)
                                {

                                    if (Convert.ToInt32(item[5]) == 0 && @Convert.ToString(item[6]) == "")
                                    {

                                        flag10 = 0;
                                    }
                                    else
                                    {
                                        flag10 = 1;
                                    }
                                }

                                if (flag7 == 0)
                                {
                                    <div>
                                        <input type="button" value="添加子女" class="btn btn-info" id="zinv" />
                                        <input type="button" value="添加子女" class="btn btn-info" id="zinv1" style="display:none" />
                                        <input type="button" value="添加子女" class="btn btn-info" id="zinv2" style="display:none" />
                                        <input type="button" value="添加子女" class="btn btn-info" id="zinv3" style="display:none" />
                                        <input type="button" value="添加子女" class="btn btn-info" id="zinv4" style="display:none" />
                                    </div>
                                }
                                else if (flag7 == 1 && flag8 == 0)
                                {
                                    <div>
                                        <input type="button" value="添加子女" class="btn btn-info" id="zinv" style="display:none" />
                                        <input type="button" value="添加子女" class="btn btn-info" id="zinv1" />
                                        <input type="button" value="添加子女" class="btn btn-info" id="zinv2" style="display:none" />
                                        <input type="button" value="添加子女" class="btn btn-info" id="zinv3" style="display:none" />
                                        <input type="button" value="添加子女" class="btn btn-info" id="zinv4" style="display:none" />
                                    </div>
                                }
                                else if (flag8 == 1 && flag9 == 0)
                                {
                                    <div>
                                        <input type="button" value="添加子女" class="btn btn-info" id="zinv" style="display:none" />
                                        <input type="button" value="添加子女" class="btn btn-info" id="zinv1" style="display:none"/>
                                        <input type="button" value="添加子女" class="btn btn-info" id="zinv2"  />
                                        <input type="button" value="添加子女" class="btn btn-info" id="zinv3" style="display:none" />
                                        <input type="button" value="添加子女" class="btn btn-info" id="zinv4" style="display:none" />
                                    </div>
                                }
                                else if (flag9 == 1 && flag10 == 0)
                                {
                                    <div>
                                        <input type="button" value="添加子女" class="btn btn-info" id="zinv" style="display:none" />
                                        <input type="button" value="添加子女" class="btn btn-info" id="zinv1" style="display:none" />
                                        <input type="button" value="添加子女" class="btn btn-info" id="zinv2" style="display:none"/>
                                        <input type="button" value="添加子女" class="btn btn-info" id="zinv3"  />
                                        <input type="button" value="添加子女" class="btn btn-info" id="zinv4" style="display:none" />
                                    </div>
                                }
                                else if (flag10 == 1)
                                {
                                    <div>
                                        <input type="button" value="添加子女" class="btn btn-info" id="zinv" style="display:none" />
                                        <input type="button" value="添加子女" class="btn btn-info" id="zinv1" style="display:none" />
                                        <input type="button" value="添加子女" class="btn btn-info" id="zinv2" style="display:none" />
                                        <input type="button" value="添加子女" class="btn btn-info" id="zinv3" />
                                        <input type="button" value="添加子女" class="btn btn-info" id="zinv4"  />
                                    </div>

                                }
                            }



                        </td>
                    </tr>
                    @{
                        int fa = 0;
                    }

                    @foreach (DataRow item in Model.D51.Rows)
                    {
                        fa = 1;
                        <tr id="fuqin">
                            <td>
                                D51父亲
                            </td>

                            <td>
                                男
                            </td>
                            <td>
                                @{
                                    int Gastrolcancer1 = Convert.ToInt32(item[5]);
                                }
                                <label>@Html.RadioButtonFor(model => Gastrolcancer1, 0, new { htmlAttributes = new { @class = "form-control" } }) 无</label>

                                <label>@Html.RadioButtonFor(model => Gastrolcancer1, 1, new { htmlAttributes = new { @class = "form-control" } }) 有</label>
                            </td>
                            <td>
                                <input class="form-control text-box single-line" data-val="true" id="othercancer1" name="othercancer1" type="text" value="@Convert.ToString(item[6])">
                            </td>

                        </tr>
                    }

                    @if (fa == 0)
                    {
                        <tr id="fuqin" style="display:none">
                            <td>
                                D51父亲
                            </td>

                            <td>
                                男
                            </td>
                            <td>
                                @{
                                    int Gastrolcancer1 = 0;
                                }
                                <label>@Html.RadioButtonFor(model => Gastrolcancer1, 0, new { htmlAttributes = new { @class = "form-control" } }) 无</label>

                                <label>@Html.RadioButtonFor(model => Gastrolcancer1, 1, new { htmlAttributes = new { @class = "form-control" } }) 有</label>
                            </td>
                            <td>
                                <input class="form-control text-box single-line" data-val="true" id="othercancer1" name="othercancer1" type="text" value="">
                            </td>

                        </tr>
                    }

                    @{
                        int ma = 0;
                        foreach (DataRow item in Model.D52.Rows)
                        {
                            ma = 1;
                            <tr id="muqin">
                                <td>
                                    D52母亲
                                </td>

                                <td>
                                    女
                                </td>
                                <td>
                                    @{
                                        int Gastrolcancer2 = Convert.ToInt32(item[5]);
                                    }
                                    <label>@Html.RadioButtonFor(model => Gastrolcancer2, 0, new { htmlAttributes = new { @class = "form-control" } }) 无</label>

                                    <label>@Html.RadioButtonFor(model => Gastrolcancer2, 1, new { htmlAttributes = new { @class = "form-control" } }) 有</label>
                                </td>
                                <td>
                                    <input class="form-control text-box single-line" data-val="true" id="othercancer2" name="othercancer2" type="text" value="@Convert.ToString(item[6])">
                                </td>

                            </tr>
                        }

                        if (ma == 0)
                        {
                            <tr id="muqin" style="display:none">
                                <td>
                                    D52母亲
                                </td>

                                <td>
                                    女
                                </td>
                                <td>
                                    @{
                                        int Gastrolcancer2 = 0;
                                    }
                                    <label>@Html.RadioButtonFor(model => Gastrolcancer2, 0, new { htmlAttributes = new { @class = "form-control" } }) 无</label>

                                    <label>@Html.RadioButtonFor(model => Gastrolcancer2, 1, new { htmlAttributes = new { @class = "form-control" } }) 有</label>
                                </td>
                                <td>
                                    <input class="form-control text-box single-line" data-val="true" id="othercancer2" name="othercancer2" type="text" value="">
                                </td>

                            </tr>
                        }
                    }

                    @{
                        int tb1 = 0;
                        foreach (DataRow item in Model.D531.Rows)
                        {
                            tb1 = 1;
                            <tr id="tb">
                                <td>

                                    D531同胞1:<input class="form-control text-box single-line" data-val="true" id="kinship3" name="kinship3" type="text" value="@Convert.ToString(item[3])" style="width:100px">

                                </td>

                                <td>
                                    @{
                                        int cansersex3 = Convert.ToInt32(item[4]);
                                    }
                                    <label>@Html.RadioButtonFor(model => cansersex3, 0, new { htmlAttributes = new { @class = "form-control" } }) 男</label>

                                    <label>@Html.RadioButtonFor(model => cansersex3, 1, new { htmlAttributes = new { @class = "form-control" } }) 女</label>
                                </td>
                                <td>
                                    @{
                                        int Gastrolcancer3 = Convert.ToInt32(item[5]);
                                    }
                                    <label>@Html.RadioButtonFor(model => Gastrolcancer3, 0, new { htmlAttributes = new { @class = "form-control" } }) 无</label>

                                    <label>@Html.RadioButtonFor(model => Gastrolcancer3, 1, new { htmlAttributes = new { @class = "form-control" } }) 有</label>
                                </td>
                                <td>
                                    <input class="form-control text-box single-line" data-val="true" id="othercancer3" name="othercancer3" type="text" value="@Convert.ToString(item[6])">
                                </td>

                            </tr>
                        }
                        if (tb1 == 0)
                        {
                            <tr id="tb" style="display:none">
                                <td>

                                    D531同胞1:<input class="form-control text-box single-line" data-val="true" id="kinship3" name="kinship3" type="text" value="" style="width:100px">

                                </td>

                                <td>
                                    @{
                                        int cansersex3 = 0;
                                    }
                                    <label>@Html.RadioButtonFor(model => cansersex3, 0, new { htmlAttributes = new { @class = "form-control" } }) 男</label>

                                    <label>@Html.RadioButtonFor(model => cansersex3, 1, new { htmlAttributes = new { @class = "form-control" } }) 女</label>
                                </td>
                                <td>
                                    @{
                                        int Gastrolcancer3 = 0;
                                    }
                                    <label>@Html.RadioButtonFor(model => Gastrolcancer3, 0, new { htmlAttributes = new { @class = "form-control" } }) 无</label>

                                    <label>@Html.RadioButtonFor(model => Gastrolcancer3, 1, new { htmlAttributes = new { @class = "form-control" } }) 有</label>
                                </td>
                                <td>
                                    <input class="form-control text-box single-line" data-val="true" id="othercancer3" name="othercancer3" type="text" value="">
                                </td>

                            </tr>
                        }
                    }

                    @{
                        int tb2 = 0;
                        foreach (DataRow item in Model.D532.Rows)
                        {
                            tb2 = 1;
                            <tr id="tb1">
                                <td>
                                    D532同胞2:
                                    <input class="form-control text-box single-line" data-val="true" id="kinship4" name="kinship4" type="text" value="@Convert.ToString(item[3])" style="width:100px">

                                </td>

                                <td>
                                    @{
                                        int cansersex4 = Convert.ToInt32(item[4]);
                                    }
                                    <label>@Html.RadioButtonFor(model => cansersex4, 0, new { htmlAttributes = new { @class = "form-control" } }) 男</label>

                                    <label>@Html.RadioButtonFor(model => cansersex4, 1, new { htmlAttributes = new { @class = "form-control" } }) 女</label>
                                </td>
                                <td>
                                    @{
                                        int Gastrolcancer4 = Convert.ToInt32(item[5]);
                                    }
                                    <label>@Html.RadioButtonFor(model => Gastrolcancer4, 0, new { htmlAttributes = new { @class = "form-control" } }) 无</label>

                                    <label>@Html.RadioButtonFor(model => Gastrolcancer4, 1, new { htmlAttributes = new { @class = "form-control" } }) 有</label>
                                </td>
                                <td>
                                    <input class="form-control text-box single-line" data-val="true" id="othercancer4" name="othercancer4" type="text" value="@Convert.ToString(item[6])">
                                </td>

                            </tr>
                        }
                        if (tb2 == 0)
                        {
                            <tr id="tb1" style="display:none">
                                <td>
                                    D532同胞2:
                                    <input class="form-control text-box single-line" data-val="true" id="kinship4" name="kinship4" type="text" value="" style="width:100px">

                                </td>

                                <td>
                                    @{
                                        int cansersex4 = 0;
                                    }
                                    <label>@Html.RadioButtonFor(model => cansersex4, 0, new { htmlAttributes = new { @class = "form-control" } }) 男</label>

                                    <label>@Html.RadioButtonFor(model => cansersex4, 1, new { htmlAttributes = new { @class = "form-control" } }) 女</label>
                                </td>
                                <td>
                                    @{
                                        int Gastrolcancer4 = 0;
                                    }
                                    <label>@Html.RadioButtonFor(model => Gastrolcancer4, 0, new { htmlAttributes = new { @class = "form-control" } }) 无</label>

                                    <label>@Html.RadioButtonFor(model => Gastrolcancer4, 1, new { htmlAttributes = new { @class = "form-control" } }) 有</label>
                                </td>
                                <td>
                                    <input class="form-control text-box single-line" data-val="true" id="othercancer4" name="othercancer4" type="text" value="">
                                </td>

                            </tr>
                        }
                    }

                    @{
                        int tb3 = 0;
                        foreach (DataRow item in Model.D533.Rows)
                        {
                            tb3 = 1;
                            <tr id="tb2">
                                <td>
                                    D533同胞3:
                                    <input class="form-control text-box single-line" data-val="true" id="kinship5" name="kinship5" type="text" value="@Convert.ToString(item[3])" style="width:100px">

                                </td>

                                <td>
                                    @{
                                        int cansersex5 = Convert.ToInt32(item[4]);
                                    }
                                    <label>@Html.RadioButtonFor(model => cansersex5, 0, new { htmlAttributes = new { @class = "form-control" } }) 男</label>

                                    <label>@Html.RadioButtonFor(model => cansersex5, 1, new { htmlAttributes = new { @class = "form-control" } }) 女</label>
                                </td>
                                <td>
                                    @{
                                        int Gastrolcancer5 = Convert.ToInt32(item[5]);
                                    }
                                    <label>@Html.RadioButtonFor(model => Gastrolcancer5, 0, new { htmlAttributes = new { @class = "form-control" } }) 无</label>

                                    <label>@Html.RadioButtonFor(model => Gastrolcancer5, 1, new { htmlAttributes = new { @class = "form-control" } }) 有</label>
                                </td>
                                <td>
                                    <input class="form-control text-box single-line" data-val="true" id="othercancer5" name="othercancer5" type="text" value="@Convert.ToString(item[6])">
                                </td>

                            </tr>
                        }
                        if (tb3 == 0)
                        {
                            <tr id="tb2" style="display:none">
                                <td>
                                    D533同胞3:
                                    <input class="form-control text-box single-line" data-val="true" id="kinship5" name="kinship5" type="text" value="" style="width:100px">

                                </td>

                                <td>
                                    @{
                                        int cansersex5 = 0;
                                    }
                                    <label>@Html.RadioButtonFor(model => cansersex5, 0, new { htmlAttributes = new { @class = "form-control" } }) 男</label>

                                    <label>@Html.RadioButtonFor(model => cansersex5, 1, new { htmlAttributes = new { @class = "form-control" } }) 女</label>
                                </td>
                                <td>
                                    @{
                                        int Gastrolcancer5 = 0;
                                    }
                                    <label>@Html.RadioButtonFor(model => Gastrolcancer5, 0, new { htmlAttributes = new { @class = "form-control" } }) 无</label>

                                    <label>@Html.RadioButtonFor(model => Gastrolcancer5, 1, new { htmlAttributes = new { @class = "form-control" } }) 有</label>
                                </td>
                                <td>
                                    <input class="form-control text-box single-line" data-val="true" id="othercancer5" name="othercancer5" type="text" value="">
                                </td>

                            </tr>
                        }
                    }

                    @{
                        int tb4 = 0;
                        foreach (DataRow item in Model.D534.Rows)
                        {
                            tb4 = 1;
                            <tr id="tb3">
                                <td>
                                    D534同胞4:
                                    <input class="form-control text-box single-line" data-val="true" id="kinship6" name="kinship6" type="text" value="@Convert.ToString(item[3])" style="width:100px">

                                </td>

                                <td>
                                    @{
                                        int cansersex6 = Convert.ToInt32(item[4]);
                                    }
                                    <label>@Html.RadioButtonFor(model => cansersex6, 0, new { htmlAttributes = new { @class = "form-control" } }) 男</label>

                                    <label>@Html.RadioButtonFor(model => cansersex6, 1, new { htmlAttributes = new { @class = "form-control" } }) 女</label>
                                </td>
                                <td>
                                    @{
                                        int Gastrolcancer6 = Convert.ToInt32(item[5]);
                                    }
                                    <label>@Html.RadioButtonFor(model => Gastrolcancer6, 0, new { htmlAttributes = new { @class = "form-control" } }) 无</label>

                                    <label>@Html.RadioButtonFor(model => Gastrolcancer6, 1, new { htmlAttributes = new { @class = "form-control" } }) 有</label>
                                </td>
                                <td>
                                    <input class="form-control text-box single-line" data-val="true" id="othercancer6" name="othercancer6" type="text" value="@Convert.ToString(item[6])">
                                </td>

                            </tr>
                        }
                        if (tb4 == 0)
                        {
                            <tr id="tb3" style="display:none">
                                <td>
                                    D534同胞4:
                                    <input class="form-control text-box single-line" data-val="true" id="kinship6" name="kinship6" type="text" value="" style="width:100px">

                                </td>

                                <td>
                                    @{
                                        int cansersex6 = 0;
                                    }
                                    <label>@Html.RadioButtonFor(model => cansersex6, 0, new { htmlAttributes = new { @class = "form-control" } }) 男</label>

                                    <label>@Html.RadioButtonFor(model => cansersex6, 1, new { htmlAttributes = new { @class = "form-control" } }) 女</label>
                                </td>
                                <td>
                                    @{
                                        int Gastrolcancer6 = 0;
                                    }
                                    <label>@Html.RadioButtonFor(model => Gastrolcancer6, 0, new { htmlAttributes = new { @class = "form-control" } }) 无</label>

                                    <label>@Html.RadioButtonFor(model => Gastrolcancer6, 1, new { htmlAttributes = new { @class = "form-control" } }) 有</label>
                                </td>
                                <td>
                                    <input class="form-control text-box single-line" data-val="true" id="othercancer6" name="othercancer6" type="text" value="">
                                </td>

                            </tr>
                        }
                    }

                    @{
                        int zv1 = 0;
                        foreach (DataRow item in Model.D541.Rows)
                        {
                            zv1 = 1;
                            <tr id="zv">
                                <td>
                                    D541子女1:
                                </td>

                                <td>
                                    @{
                                        int cansersex7 = Convert.ToInt32(item[4]);
                                    }
                                    <label>@Html.RadioButtonFor(model => cansersex7, 0, new { htmlAttributes = new { @class = "form-control" } }) 男</label>

                                    <label>@Html.RadioButtonFor(model => cansersex7, 1, new { htmlAttributes = new { @class = "form-control" } }) 女</label>
                                </td>
                                <td>
                                    @{
                                        int Gastrolcancer7 = Convert.ToInt32(item[5]);
                                    }
                                    <label>@Html.RadioButtonFor(model => Gastrolcancer7, 0, new { htmlAttributes = new { @class = "form-control" } }) 无</label>

                                    <label>@Html.RadioButtonFor(model => Gastrolcancer7, 1, new { htmlAttributes = new { @class = "form-control" } }) 有</label>
                                </td>
                                <td>
                                    <input class="form-control text-box single-line" data-val="true" id="othercancer7" name="othercancer7" type="text" value="@Convert.ToString(item[6])">
                                </td>

                            </tr>
                        }
                        if (zv1 == 0)
                        {
                            <tr id="zv" style="display:none">
                                <td>
                                    D541子女1:
                                </td>

                                <td>
                                    @{
                                        int cansersex7 = 0;
                                    }
                                    <label>@Html.RadioButtonFor(model => cansersex7, 0, new { htmlAttributes = new { @class = "form-control" } }) 男</label>

                                    <label>@Html.RadioButtonFor(model => cansersex7, 1, new { htmlAttributes = new { @class = "form-control" } }) 女</label>
                                </td>
                                <td>
                                    @{
                                        int Gastrolcancer7 = 0;
                                    }
                                    <label>@Html.RadioButtonFor(model => Gastrolcancer7, 0, new { htmlAttributes = new { @class = "form-control" } }) 无</label>

                                    <label>@Html.RadioButtonFor(model => Gastrolcancer7, 1, new { htmlAttributes = new { @class = "form-control" } }) 有</label>
                                </td>
                                <td>
                                    <input class="form-control text-box single-line" data-val="true" id="othercancer7" name="othercancer7" type="text" value="">
                                </td>

                            </tr>
                        }
                    }

                    @{
                        int zv2 = 0;
                        foreach (DataRow item in Model.D542.Rows)
                        {
                            zv2 = 1;
                            <tr id="zv1">
                                <td>
                                    D542子女2:
                                </td>

                                <td>
                                    @{
                                        int cansersex8 = Convert.ToInt32(item[4]);
                                    }
                                    <label>@Html.RadioButtonFor(model => cansersex8, 0, new { htmlAttributes = new { @class = "form-control" } }) 男</label>

                                    <label>@Html.RadioButtonFor(model => cansersex8, 1, new { htmlAttributes = new { @class = "form-control" } }) 女</label>
                                </td>
                                <td>
                                    @{
                                        int Gastrolcancer8 = Convert.ToInt32(item[5]);
                                    }
                                    <label>@Html.RadioButtonFor(model => Gastrolcancer8, 0, new { htmlAttributes = new { @class = "form-control" } }) 无</label>

                                    <label>@Html.RadioButtonFor(model => Gastrolcancer8, 1, new { htmlAttributes = new { @class = "form-control" } }) 有</label>
                                </td>
                                <td>
                                    <input class="form-control text-box single-line" data-val="true" id="othercancer8" name="othercancer8" type="text" value="@Convert.ToString(item[6])">
                                </td>

                            </tr>
                        }
                        if (zv2 == 0)
                        {
                            <tr id="zv1" style="display:none">
                                <td>
                                    D542子女2:
                                </td>

                                <td>
                                    @{
                                        int cansersex8 = 0;
                                    }
                                    <label>@Html.RadioButtonFor(model => cansersex8, 0, new { htmlAttributes = new { @class = "form-control" } }) 男</label>

                                    <label>@Html.RadioButtonFor(model => cansersex8, 1, new { htmlAttributes = new { @class = "form-control" } }) 女</label>
                                </td>
                                <td>
                                    @{
                                        int Gastrolcancer8 = 0;
                                    }
                                    <label>@Html.RadioButtonFor(model => Gastrolcancer8, 0, new { htmlAttributes = new { @class = "form-control" } }) 无</label>

                                    <label>@Html.RadioButtonFor(model => Gastrolcancer8, 1, new { htmlAttributes = new { @class = "form-control" } }) 有</label>
                                </td>
                                <td>
                                    <input class="form-control text-box single-line" data-val="true" id="othercancer8" name="othercancer8" type="text" value="">
                                </td>

                            </tr>
                        }

                    }

                    @{
                        int zv3 = 0;
                        foreach (DataRow item in Model.D543.Rows)
                        {
                            zv3 = 1;
                            <tr id="zv2">
                                <td>
                                    D543子女3:
                                </td>

                                <td>
                                    @{
                                        int cansersex9 = Convert.ToInt32(item[4]);
                                    }
                                    <label>@Html.RadioButtonFor(model => cansersex9, 0, new { htmlAttributes = new { @class = "form-control" } }) 男</label>

                                    <label>@Html.RadioButtonFor(model => cansersex9, 1, new { htmlAttributes = new { @class = "form-control" } }) 女</label>
                                </td>
                                <td>
                                    @{
                                        int Gastrolcancer9 = Convert.ToInt32(item[5]);
                                    }
                                    <label>@Html.RadioButtonFor(model => Gastrolcancer9, 0, new { htmlAttributes = new { @class = "form-control" } }) 无</label>

                                    <label>@Html.RadioButtonFor(model => Gastrolcancer9, 1, new { htmlAttributes = new { @class = "form-control" } }) 有</label>
                                </td>
                                <td>
                                    <input class="form-control text-box single-line" data-val="true" id="othercancer9" name="othercancer9" type="text" value="@Convert.ToString(item[6])">
                                </td>

                            </tr>
                        }
                        if (zv3 == 0)
                        {
                            <tr id="zv2" style="display:none">
                                <td>
                                    D543子女3:
                                </td>

                                <td>
                                    @{
                                        int cansersex9 = 0;
                                    }
                                    <label>@Html.RadioButtonFor(model => cansersex9, 0, new { htmlAttributes = new { @class = "form-control" } }) 男</label>

                                    <label>@Html.RadioButtonFor(model => cansersex9, 1, new { htmlAttributes = new { @class = "form-control" } }) 女</label>
                                </td>
                                <td>
                                    @{
                                        int Gastrolcancer9 = 0;
                                    }
                                    <label>@Html.RadioButtonFor(model => Gastrolcancer9, 0, new { htmlAttributes = new { @class = "form-control" } }) 无</label>

                                    <label>@Html.RadioButtonFor(model => Gastrolcancer9, 1, new { htmlAttributes = new { @class = "form-control" } }) 有</label>
                                </td>
                                <td>
                                    <input class="form-control text-box single-line" data-val="true" id="othercancer9" name="othercancer9" type="text" value="">
                                </td>

                            </tr>
                        }
                    }

                    @{
                        int zv4 = 0;
                        foreach (DataRow item in Model.D544.Rows)
                        {
                            zv4 = 1;
                            <tr id="zv3">
                                <td>
                                    D544子女4:
                                </td>

                                <td>
                                    @{
                                        int cansersex10 = Convert.ToInt32(item[4]);
                                    }
                                    <label>@Html.RadioButtonFor(model => cansersex10, 0, new { htmlAttributes = new { @class = "form-control" } }) 男</label>

                                    <label>@Html.RadioButtonFor(model => cansersex10, 1, new { htmlAttributes = new { @class = "form-control" } }) 女</label>
                                </td>
                                <td>
                                    @{
                                        int Gastrolcancer10 = Convert.ToInt32(item[5]);
                                    }
                                    <label>@Html.RadioButtonFor(model => Gastrolcancer10, 0, new { htmlAttributes = new { @class = "form-control" } }) 无</label>

                                    <label>@Html.RadioButtonFor(model => Gastrolcancer10, 1, new { htmlAttributes = new { @class = "form-control" } }) 有</label>
                                </td>
                                <td>
                                    <input class="form-control text-box single-line" data-val="true" id="othercancer10" name="othercancer10" type="text" value="@Convert.ToString(item[6])">
                                </td>

                            </tr>
                        }
                        if (zv4 == 0)
                        {
                            <tr id="zv3" style="display:none">
                                <td>
                                    D544子女4:
                                </td>

                                <td>
                                    @{
                                        int cansersex10 = 0;
                                    }
                                    <label>@Html.RadioButtonFor(model => cansersex10, 0, new { htmlAttributes = new { @class = "form-control" } }) 男</label>

                                    <label>@Html.RadioButtonFor(model => cansersex10, 1, new { htmlAttributes = new { @class = "form-control" } }) 女</label>
                                </td>
                                <td>
                                    @{
                                        int Gastrolcancer10 = 0;
                                    }
                                    <label>@Html.RadioButtonFor(model => Gastrolcancer10, 0, new { htmlAttributes = new { @class = "form-control" } }) 无</label>

                                    <label>@Html.RadioButtonFor(model => Gastrolcancer10, 1, new { htmlAttributes = new { @class = "form-control" } }) 有</label>
                                </td>
                                <td>
                                    <input class="form-control text-box single-line" data-val="true" id="othercancer10" name="othercancer10" type="text" value="">
                                </td>

                            </tr>
                        }
                    }


                    <tr>
                        <td>
                            <label>二级亲属</label>
                        </td>

                        <td>


                            @{
                                int flag11 = 0;
                                int flag12 = 0;
                                int flag13 = 0;

                                foreach (DataRow item in Model.D551.Rows)
                                {

                                    if (Convert.ToInt32(item[5]) == 0 && @Convert.ToString(item[6]) == "")
                                    {

                                        flag11 = 0;
                                    }
                                    else
                                    {
                                        flag11 = 1;
                                    }
                                }

                                foreach (DataRow item in Model.D552.Rows)
                                {

                                    if (Convert.ToInt32(item[5]) == 0 && @Convert.ToString(item[6]) == "")
                                    {

                                        flag12 = 0;
                                    }
                                    else
                                    {
                                        flag12 = 1;
                                    }
                                }

                                foreach (DataRow item in Model.D553.Rows)
                                {

                                    if (Convert.ToInt32(item[5]) == 0 && @Convert.ToString(item[6]) == "")
                                    {

                                        flag13 = 0;
                                    }
                                    else
                                    {
                                        flag13 = 1;
                                    }
                                }



                                if (flag11 == 0)
                                {
                                    <div>
                                        <input type="button" value="添加二级亲属" class="btn btn-info" id="erji" />
                                        <input type="button" value="添加二级亲属" class="btn btn-info" id="erji1" style="display:none" />
                                        <input type="button" value="添加二级亲属" class="btn btn-info" id="erji2" style="display:none" />
                                        <input type="button" value="添加二级亲属" class="btn btn-info" id="erji3" style="display:none" />

                                    </div>
                                }
                                else if (flag11 == 1 && flag12 == 0)
                                {
                                    <div>
                                        <input type="button" value="添加二级亲属" class="btn btn-info" id="erji" style="display:none" />
                                        <input type="button" value="添加二级亲属" class="btn btn-info" id="erji1" />
                                        <input type="button" value="添加二级亲属" class="btn btn-info" id="erji2" style="display:none" />
                                        <input type="button" value="添加二级亲属" class="btn btn-info" id="erji3" style="display:none" />

                                    </div>
                                }
                                else if (flag12 == 1 && flag13 == 0)
                                {
                                    <div>
                                        <input type="button" value="添加二级亲属" class="btn btn-info" id="erji" style="display:none"/>
                                        <input type="button" value="添加二级亲属" class="btn btn-info" id="erji1"  style="display:none"/>
                                        <input type="button" value="添加二级亲属" class="btn btn-info" id="erji2"  />
                                        <input type="button" value="添加二级亲属" class="btn btn-info" id="erji3" style="display:none" />

                                    </div>
                                }

                                else if (flag13 == 1)
                                {
                                    <div>
                                        <input type="button" value="添加二级亲属" class="btn btn-info" id="erji" style="display:none"/>
                                        <input type="button" value="添加二级亲属" class="btn btn-info" id="erji1"  style="display:none"/>
                                        <input type="button" value="添加二级亲属" class="btn btn-info" id="erji2" style="display:none" />
                                        <input type="button" value="添加二级亲属" class="btn btn-info" id="erji3"  />

                                    </div>

                                }
                            }


                          
                        </td>

                        <td></td>
                        <td></td>

                    </tr>

                    @{
                        int erji = 0;
                        foreach (DataRow item in Model.D551.Rows)
                        {
                            erji = 1;
                            <tr id="ej">
                                <td>
                                    D551二级亲属1:
                                    <input class="form-control text-box single-line" data-val="true" id="kinship11" name="kinship11" type="text" value="@Convert.ToString(item[3])" style="width:100px">

                                </td>

                                <td>
                                    @{
                                        int cansersex11 = Convert.ToInt32(item[4]);
                                    }
                                    <label>@Html.RadioButtonFor(model => cansersex11, 0, new { htmlAttributes = new { @class = "form-control" } }) 男</label>

                                    <label>@Html.RadioButtonFor(model => cansersex11, 1, new { htmlAttributes = new { @class = "form-control" } }) 女</label>
                                </td>
                                <td>
                                    @{
                                        int Gastrolcancer11 = Convert.ToInt32(item[5]);
                                    }
                                    <label>@Html.RadioButtonFor(model => Gastrolcancer11, 0, new { htmlAttributes = new { @class = "form-control" } }) 无</label>

                                    <label>@Html.RadioButtonFor(model => Gastrolcancer11, 1, new { htmlAttributes = new { @class = "form-control" } }) 有</label>
                                </td>
                                <td>
                                    <input class="form-control text-box single-line" data-val="true" id="othercancer11" name="othercancer11" type="text" value="@Convert.ToString(item[6])">
                                </td>

                            </tr>
                        }
                        if (erji == 0)
                        {
                            <tr id="ej" style="display:none">
                                <td>
                                    D551二级亲属1:
                                    <input class="form-control text-box single-line" data-val="true" id="kinship11" name="kinship11" type="text" value="" style="width:100px">

                                </td>

                                <td>
                                    @{
                                        int cansersex11 = 0;
                                    }
                                    <label>@Html.RadioButtonFor(model => cansersex11, 0, new { htmlAttributes = new { @class = "form-control" } }) 男</label>

                                    <label>@Html.RadioButtonFor(model => cansersex11, 1, new { htmlAttributes = new { @class = "form-control" } }) 女</label>
                                </td>
                                <td>
                                    @{
                                        int Gastrolcancer11 = 0;
                                    }
                                    <label>@Html.RadioButtonFor(model => Gastrolcancer11, 0, new { htmlAttributes = new { @class = "form-control" } }) 无</label>

                                    <label>@Html.RadioButtonFor(model => Gastrolcancer11, 1, new { htmlAttributes = new { @class = "form-control" } }) 有</label>
                                </td>
                                <td>
                                    <input class="form-control text-box single-line" data-val="true" id="othercancer11" name="othercancer11" type="text" value="">
                                </td>

                            </tr>
                        }
                    }


                    @{
                        int erji1 = 0;
                        foreach (DataRow item in Model.D552.Rows)
                        {
                            erji1 = 1;
                            <tr id="ej1">
                                <td>
                                    D552二级亲属2:
                                    <input class="form-control text-box single-line" data-val="true" id="kinship12" name="kinship12" type="text" value="@Convert.ToString(item[3])" style="width:100px">

                                </td>

                                <td>
                                    @{
                                        int cansersex12 = Convert.ToInt32(item[4]);
                                    }
                                    <label>@Html.RadioButtonFor(model => cansersex12, 0, new { htmlAttributes = new { @class = "form-control" } }) 男</label>

                                    <label>@Html.RadioButtonFor(model => cansersex12, 1, new { htmlAttributes = new { @class = "form-control" } }) 女</label>
                                </td>
                                <td>
                                    @{
                                        int Gastrolcancer12 = Convert.ToInt32(item[5]);
                                    }
                                    <label>@Html.RadioButtonFor(model => Gastrolcancer12, 0, new { htmlAttributes = new { @class = "form-control" } }) 无</label>

                                    <label>@Html.RadioButtonFor(model => Gastrolcancer12, 1, new { htmlAttributes = new { @class = "form-control" } }) 有</label>
                                </td>
                                <td>
                                    <input class="form-control text-box single-line" data-val="true" id="othercancer12" name="othercancer12" type="text" value="@Convert.ToString(item[6])">
                                </td>

                            </tr>
                        }
                        if (erji1 == 0)
                        {
                            <tr id="ej1" style="display:none">
                                <td>
                                    D552二级亲属2:
                                    <input class="form-control text-box single-line" data-val="true" id="kinship12" name="kinship12" type="text" value="" style="width:100px">

                                </td>

                                <td>
                                    @{
                                        int cansersex12 = 0;
                                    }
                                    <label>@Html.RadioButtonFor(model => cansersex12, 0, new { htmlAttributes = new { @class = "form-control" } }) 男</label>

                                    <label>@Html.RadioButtonFor(model => cansersex12, 1, new { htmlAttributes = new { @class = "form-control" } }) 女</label>
                                </td>
                                <td>
                                    @{
                                        int Gastrolcancer12 = 0;
                                    }
                                    <label>@Html.RadioButtonFor(model => Gastrolcancer12, 0, new { htmlAttributes = new { @class = "form-control" } }) 无</label>

                                    <label>@Html.RadioButtonFor(model => Gastrolcancer12, 1, new { htmlAttributes = new { @class = "form-control" } }) 有</label>
                                </td>
                                <td>
                                    <input class="form-control text-box single-line" data-val="true" id="othercancer12" name="othercancer12" type="text" value="">
                                </td>

                            </tr>
                        }
                    }

                    @{
                        int erji2 = 0;
                        foreach (DataRow item in Model.D553.Rows)
                        {
                            erji2 = 1;
                            <tr id="ej2" >
                                <td>
                                    D553二级亲属3:
                                    <input class="form-control text-box single-line" data-val="true" id="kinship13" name="kinship13" type="text" value="@Convert.ToString(item[3])" style="width:100px">

                                </td>

                                <td>
                                    @{
                                        int cansersex13 = Convert.ToInt32(item[4]);
                                    }
                                    <label>@Html.RadioButtonFor(model => cansersex13, 0, new { htmlAttributes = new { @class = "form-control" } }) 男</label>

                                    <label>@Html.RadioButtonFor(model => cansersex13, 1, new { htmlAttributes = new { @class = "form-control" } }) 女</label>
                                </td>
                                <td>
                                    @{
                                        int Gastrolcancer13 = Convert.ToInt32(item[5]);
                                    }
                                    <label>@Html.RadioButtonFor(model => Gastrolcancer13, 0, new { htmlAttributes = new { @class = "form-control" } }) 无</label>

                                    <label>@Html.RadioButtonFor(model => Gastrolcancer13, 1, new { htmlAttributes = new { @class = "form-control" } }) 有</label>
                                </td>
                                <td>
                                    <input class="form-control text-box single-line" data-val="true" id="othercancer13" name="othercancer13" type="text" value="@Convert.ToString(item[6])">
                                </td>

                            </tr>
                        }
                        if (erji2 == 0)
                        {
                            <tr id="ej2" style="display:none">
                                <td>
                                    D553二级亲属3:
                                    <input class="form-control text-box single-line" data-val="true" id="kinship13" name="kinship13" type="text" value="" style="width:100px">

                                </td>

                                <td>
                                    @{
                                        int cansersex13 = 0;
                                    }
                                    <label>@Html.RadioButtonFor(model => cansersex13, 0, new { htmlAttributes = new { @class = "form-control" } }) 男</label>

                                    <label>@Html.RadioButtonFor(model => cansersex13, 1, new { htmlAttributes = new { @class = "form-control" } }) 女</label>
                                </td>
                                <td>
                                    @{
                                        int Gastrolcancer13 = 0;
                                    }
                                    <label>@Html.RadioButtonFor(model => Gastrolcancer13, 0, new { htmlAttributes = new { @class = "form-control" } }) 无</label>

                                    <label>@Html.RadioButtonFor(model => Gastrolcancer13, 1, new { htmlAttributes = new { @class = "form-control" } }) 有</label>
                                </td>
                                <td>
                                    <input class="form-control text-box single-line" data-val="true" id="othercancer13" name="othercancer13" type="text" value="">
                                </td>

                            </tr>
                        }
                    }

                </table>
            </div>


        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10" style="font-size:18px;padding:3px">
                <input type="submit" value="保存" class="btn btn-default" />|
                <a href="javascript:window.history.go(-1)">返回</a>
            </div>
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

<script type="text/javascript">
    function check6(val) {
        var dom = $("#zhongliu");
        if (val == 1) {
            dom.show();
        }
        else {
            dom.hide();
        }
    }

    $('#fumu').click(function () {
        $("#fuqin").show();
        $("#muqin").show();
        $("#fumu").hide();
        $("#fumu1").show();
    });
    $('#fumu1').click(function () {
        alert("不能继续添加");
    });


    $('#tongbao').click(function () {
        $("#tb").show();
        $("#tongbao").hide();
        $("#tongbao1").show();
    });
    $('#tongbao1').click(function () {
        $("#tb1").show();
        $("#tongbao1").hide();
        $("#tongbao2").show();
    });
    $('#tongbao2').click(function () {
        $("#tb2").show();
        $("#tongbao2").hide();
        $("#tongbao3").show();
    });
    $('#tongbao3').click(function () {
        $("#tb3").show();
        $("#tongbao3").hide();
        $("#tongbao4").show();
    });
    $('#tongbao4').click(function () {
        alert("最多只能添加4个同胞");
    });

    $('#zinv').click(function () {
        $("#zv").show();
        $("#zinv").hide();
        $("#zinv1").show();
    });
    $('#zinv1').click(function () {
        $("#zv1").show();
        $("#zinv1").hide();
        $("#zinv2").show();
    });
    $('#zinv2').click(function () {
        $("#zv2").show();
        $("#zinv2").hide();
        $("#zinv3").show();
    });
    $('#zinv3').click(function () {
        $("#zv3").show();
        $("#zinv3").hide();
        $("#zinv4").show();
    });
    $('#zinv4').click(function () {
        alert("最多只能添加4个子女");
    });

    $('#erji').click(function () {
        $("#ej").show();
        $("#erji").hide();
        $("#erji1").show();
    });
    $('#erji1').click(function () {
        $("#ej1").show();
        $("#erji1").hide();
        $("#erji2").show();
    });
    $('#erji2').click(function () {
        $("#ej2").show();
        $("#erji2").hide();
        $("#erji3").show();
    });

    $('#erji3').click(function () {
        alert("最多只能添加3个二级亲属");
    });
</script>